streamlit
streamlit-javascript==0.1.5
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langgraph
langgraph-checkpoint-sqlite
langchain-groq
langchain-google-genai
langchain-anthropic
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
huggingface-hub
torch
torchvision
pypdf
pymupdf
python-dotenv
cryptography
yfinance
tavily-python
langsmith
python-docx
python-pptx
openpyxl
xlrd
pandas
tabulate
rank-bm25
