streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
huggingface-hub
torch
torchvision
pypdf
pymupdf
python-dotenv
yfinance
tavily-python
langsmith
python-docx
python-pptx
openpyxl
pandas
tabulate
rank-bm25
